* {
    /* Home page */
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa';
}

body,
html {
    overflow-x: hidden;
}

nav {
    margin: auto;
    max-width: 1100px;
    width: 100%;
}

#checkbox-menu,
.toggle {
    display: none;
}

.menu {
    padding: 0;
    margin: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.menu li a {
    color: black;
    text-decoration: none;
    align-self: center;
    font-size: 18px;
    padding: 10px 15px;
    transition: background .2s linear;
}

.menu li a:hover {
    background: #d4d1d1;
    border-radius: 3px;
}

.menu li a.logo {
    font-size: 25px;
    margin-right: 250px;
}

.menu li a.contacts {
    margin-right: 10px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

.intro {
    background: #e9e7e6;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.intro-img {
    background-image: url(img/original/main/pavlova_main.jpg);
    width: 960px;
    height: 647px;
    margin-right: 70px;
}

.intro-text {
    font-family: 'Comforter Brush', cursive;
    color: #f9f6e3;
    position: left;
    padding-left: 130px;
    font-size: 76px;
    padding-top: 76px;
}

.intro-contacts a {
    text-decoration: none;
    color: #f9f6e3;
}

.intro-contacts {
    color: #f9f6e3;
    background-color: #525252;
    max-width: 590px;
    position: absolute;
    right: 200px;
    top: 670px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.intro-contacts a:hover {
    opacity: 0.4;
}

.intro-contacts i {
    color: black;
    margin-right: 20px;
}

.intro-contacts p {
    font-size: 18px;
    margin-right: 30px;
}


/* main cards */

.desserts {
    background: #f4f5f6;
    padding: 60px 0px;
}

.desserts h2 {
    margin-bottom: 5px;
    font-size: 25px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
}

.card {
    max-width: 348px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 2);
}

.card img {
    width: 348px;
    height: 464px;
}

.card-container {
    padding: 25px;
}

.card-container h2 {
    font-size: 20px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.card-info {
    font-size: 15px;
}

.card-info i {
    margin-right: 5px;
    margin-left: 15px;
}

.card-info div :last-child {
    margin-top: 5px;
}

.card:hover {
    background: #fafaf9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 5);
}

.card-button a {
    text-decoration: none;
    color: #f9f6e3;
}

.card-button a:hover {
    opacity: 0.4;
}

.card-button {
    text-decoration: none;
    color: #f9f6e3;
    background-color: #525252;
    margin-left: 20px;
    padding: auto;
    width: 75px;
    height: 25px;
    border: none;
    border-radius: 5px;
}


/* all desserts page */

.services {
    background-color: #f4f5f6;
}

.serv-color {
    background-color: rgba(188, 180, 192, 0.288);
}

.serv-container {
    display: flex;
    margin-top: 70px;
}

.services img {
    width: 100%;
    height: auto;
}

.serv-img-container {
    width: 25%;
}

.serv-text {
    width: 42%;
    margin-top: 3%;
    margin-left: 3%;
}

.serv-text p {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 5px;
}

.services h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.services p {
    font-size: 15px;
    line-height: 23px;
}

.button-dess {
    margin-left: 120px;
    float: right;
    margin-bottom: 25px;
}


/* contacts page */

.contact-container {
    margin-top: 15%;
    max-width: 1100px;
    width: 100%;
    padding-bottom: 180px;
}

.invite-message {
    text-align: center;
    font-size: 40px;
}

.contact-list {
    padding: 50px;
    margin-top: 50px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.contact-list a {
    color: black;
    text-decoration: none;
    align-self: center;
    font-size: 18px;
    padding: 10px 15px;
    transition: background .2s linear;
}

.contact-list a:hover {
    opacity: 0.4;
}

.contact-list img {
    max-width: 30px;
    max-height: 30px;
}


/* photogallery */

.gallery_wrapper {
    margin: auto;
    max-width: 1000px;
    width: 100%;
}

.gallery_des_name {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}


/* The grid: Four equal columns that floats next to each other */

.gallery_column {
    display: inline;
    width: 15%;
    padding: 10px;
    margin: auto;
}


/* Style the images inside the grid */

.gallery_column img {
    max-width: 220px;
    justify-content: space-between;
    opacity: 0.8;
    cursor: pointer;
}

.gallery_column img:hover {
    opacity: 1;
}


/* Clear floats after the columns */

.gallery_row:after {
    content: "";
    display: none;
    clear: both;
}


/* The expanding image container (positioning is needed to position the close button and the text) */

.gallery_container {
    position: relative;
    display: none;
}


/* Expanding image text */

#gallery_imgtext,
#gallery_imgtext1,
#gallery_imgtext2 {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}


/* Closable button inside the image */

.gallery_closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}


/* footer */

footer {
    background: #8a8888;
    color: #d4d1d1;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.footer-links {
    display: flex;
    justify-content: start;
}

.footer-link a {
    color: #d4d1d1;
    text-decoration: none;
    font-size: 13px;
    display: inline-flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 100px;
}

.footer-link a:hover {
    opacity: 0.4;
}

.footer-links-logo {
    padding-top: 4px;
    padding-right: 30px;
    padding-left: 120px;
    font-size: 13px;
}

@media screen and (max-width:765px) {
    .toggle {
        clear: both;
        display: block;
        text-align: center;
        font-size: 19px;
        line-height: 50px;
        width: 100%;
        color: #f9f6e3;
        background: #525252;
        transition: all .1s linear;
    }
    .toggle:hover {
        background: #525252;
        color: #f9f6e3;
    }
    #checkbox-menu:checked+label .touch li {
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }
    #checkbox-menu:checked+label .touch {
        height: 350px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        transition: height .3s linear;
    }
    .menu li {
        display: flex;
        align-self: center;
        width: 95%;
        opacity: 0;
        visibility: hidden;
    }
    .menu li a {
        width: 95%;
        text-align: center;
        align-self: center;
        align-content: center;
    }
    .menu li a.logo {
        font-size: 21px;
        margin-right: 0;
    }
    .menu li a.contacts {
        margin-right: 10px;
    }
    .intro {
        margin-top: 0;
        display: block;
        max-width: 100%;
    }
    .intro-img {
        background-position: bottom 20px right 200px;
        background-repeat: no-repeat;
    }
    .intro .intro-text {
        padding: 0px;
        position: relative;
        font-family: 'Comforter Brush', cursive;
        font-size: 55px;
        left: 25px;
        top: 108px;
        text-orientation: 95px;
    }
    .intro .intro-contacts {
        right: 0;
        top: -70px;
        padding: 20px 10px;
        position: relative;
    }
    .intro-contacts i {
        margin-right: 10px;
    }
    .intro-contacts p {
        font-size: 16px;
        margin-right: 0;
    }
    .cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-row-gap: 10px;
        justify-items: center;
    }
    .card {
        margin-bottom: 40px;
    }
    .card-container h2 {
        font-size: 20px;
    }
    .card-info {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .card-button {
        text-decoration: none;
        color: #f9f6e3;
        background-color: #525252;
        margin-left: 23px;
        padding: auto;
        width: 55px;
        height: 25px;
        border: none;
        border-radius: 3px;
    }
    /* all desserts */
    .serv-container {
        margin-top: 20px;
        margin-bottom: 47px;
        flex-direction: column;
    }
    .serv-img-container {
        width: 98%;
    }
    .serv-text {
        width: 95%;
    }
    .serv-text p {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: 10px;
    }
    .button-dess {
        margin-left: 60px;
    }
    /* contacts page */
    .invite-message {
        text-align: center;
        margin-top: 15px;
        font-size: 20px;
    }
    .contact-container {
        margin-top: 15%;
        margin-bottom: 210px;
    }
    .contact-list {
        max-width: 95%;
        display: flex;
        list-style-type: none;
        margin-left: 10px;
    }
    .contact-list li {
        font-size: 10px;
        padding: 10px;
    }
    .contact-list a {
        justify-content: space-between;
        text-align: center;
    }
    .contacts-list img {
        max-width: 20px;
        max-height: 20px;
    }
    /* photogalery */
    .gallery_des_name {
        text-align: center;
    }
    /* The grid: Four equal columns that floats next to each other */
    .gallery_column {
        display: inline;
        margin-left: 30px;
        padding: 10px;
    }
    /* Style the images inside the grid */
    .gallery_column img {
        max-width: 30%;
        margin-bottom: 25px;
        justify-content: space-around;
        opacity: 0.8;
        cursor: pointer;
    }
    .gallery_column img:hover {
        opacity: 1;
    }
    /* Clear floats after the columns */
    .gallery_row:after {
        content: "";
        display: flex;
        clear: both;
    }
    /* The expanding image container (positioning is needed to position the close button and the text) */
    .gallery_container {
        position: relative;
        display: none;
    }
    /* Expanding image text */
    #gallery_imgtext,
    #gallery_imgtext1,
    #gallery_imgtext2 {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
        font-size: 15px;
    }
    /* Closable button inside the image */
    .gallery_closebtn {
        position: absolute;
        top: 5px;
        right: 20px;
        color: white;
        font-size: 25px;
        cursor: pointer;
    }
    /* footer */
    footer {
        padding-bottom: 10px;
    }
    .footer-links {
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
    }
    .footer-links a {
        display: inline;
        padding: 5px;
    }
    .footer-links-logo {
        display: inline;
        padding-left: 1%;
        padding-right: 5%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
