body

 {
   background-color:rgba(0,0,0,1);
 }

 /* заголовок */
 h1  {
   color:rgba(255, 255, 255, 1);
   font-family: 'Neucha', cursive;
   font-size: 3em;
   text-align: center;
   text-shadow: 1px 1px 2px gray;
   background-color:rgba(1,10,10,0.8);
   border: 1px;
   border-style: solid;
   border-color:rgba(200, 200, 200, 0.7);
   border-radius: 3px;
   outline-style: ;
   outline-color: ;
   outline-width: ;
   outline-offset: ;
   position: -webkit-sticky;
   position: sticky;
   padding: 10px;
   top: 0;
 }
 /* заголовок */
 #glav420{
   color: rgba(255, 255, 255, 1);
   text-decoration: none;
 }

  /* надпись под заголовком */
  #shrif420 {
    color:rgba(225, 225, 225, 1);
    font-family: 'Amatic SC', cursive;
    font-size: 1.70em;
    text-align: right;
    margin: -20px 0 0 0;
/*  position: -webkit-sticky;
    position: sticky;
    top: 83px;*/
  }

 /* названия */
 h2   {
   color:rgba(255, 255, 255, 1);
   font-family: 'Amatic SC', cursive;
   font-size: 2.35em;
   text-align: center;
   letter-spacing: 3px;
   word-spacing: 4px;
}

/* описание */
 p    {
   color:rgba(255, 255, 255, 1);
   font-family:'Neucha', cursive;
   font-size: 1.4em;
   font-weight: 100;
   text-align: center;
   letter-spacing: 2px;
   word-spacing: 4px;
}

 img  {
   max-width: 100px;
   display:block;
   margin: auto;
}

/* цены */
 #sale001  {
   color:rgba(200, 200, 200, 1);
   font-family:'Neucha', cursive;
   font-size: 1.3em;
   font-weight: 300;
   letter-spacing: 3px;
   word-spacing: 4px;
   line-height: 30px;
}

/* нижняя строка */
 #sp8menu {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color:rgba(42, 48, 41, 0.4);
}

/* нижняя строка*/
#sp8menu li  {
  float: right;
}

/* нижняя строка */
#sp8menu  a:hover {
  background-color:rgba(040, 040, 040, 1);
}

/* нижняя строка */
#sp8menu  a {
  color:rgba(200, 200, 200, 1);
  font-family: 'Amatic SC', cursive;
  font-size: 1.4em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px gray;
  display: block;
  padding: 15px;
}
